.criar-partida-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.formulario-criar-partida {
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  box-shadow: var(--shadow);
  border: 1px solid var(--cinza-claro);
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.btn-criar-partida-container {
  display: flex;
  justify-content: end;
}
.btn-criar-partida-container > button {
  padding: 10px 150px;
}
