main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 30px;
}
.casual,
.torneio {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titulo-container {
  border-bottom: 1px solid var(--cinza-escuro);
  padding: 10px;
}
.card-partidas {
  background: var(--cinza-claro);
  border: 1px solid var(--cinza-escuro);
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cinza-escuro);
  padding: 10px;
}


.card-time {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card-time-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tabela {
  width: 100%;
  text-align: center;
}
th {
  padding: 8px;
}
td {
  padding: 8px;
}

.cartoes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.cartao-amarelo {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--amarelo);
}

.cartao-vermelho {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--inativo);
}
